 * {
     max-width: 100%;
     margin: 0;
     font-family: 'Montserrat', sans-serif;
 }
 
 .recipe {
     display: flex;
     justify-content: space-around;
 }
 
 .breakfast,
 .ingredients {
     width: 45%;
     padding: 80px 0px;
     display: flex;
     flex-direction: column;
 }
 
 h1,
 h2,
 li {
     padding: 20px 40px;
     font-size: 1.3rem;
 }
 
 h1,
 h2 {
     font-size: 1.6rem;
     text-decoration: underline;
     text-decoration-color: aquamarine;
 }
 
 p {
     padding: 20px 40px;
     line-height: 2;
     font-size: 1.5rem;
     color: #888888;
 }
 
 .breakfast-pic {
     padding: 70px 20px 20px 20px;
 }
 
 .preparation {
     padding: 40px;
 }
 /* navbar styling */
 
 .navbar-brand {
     padding: 30px;
 }
 
 .nav-item {
     padding: 20px;
 }
 
 .background {
     display: flex;
 }
 
 .second-half {
     display: flex;
     flex-direction: column;
 }
 /* footer styling*/
 
 footer {
     background-color: #F9F9F9;
     display: flex;
     justify-content: space-around;
     height: 130px;
 }
 
 .f-p {
     padding: 3px;
     line-height: 0;
     font-size: 1rem;
 }
 
 .footer-element1 {
     padding-top: 50px;
     padding-left: 150px;
 }
 
 .footer-element3 {
     padding: 35px 40px;
 }
 
 .footer-element2 {
     padding-left: 100px;
     padding-top: 50px;
 }
 
 a {
     padding: 20px;
 }
 
 .cr {
     padding-top: 30px;
     padding-right: 100px;
 }
 
 .dropdown-menu {
     padding-left: 0px;
 }